h3 {
    margin: auto;
}

.body-container {
    margin: auto;
    place-items: center;
    text-align: center;
    align-content: center;
}

.label {
    margin: auto;
    font-size: 24pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.analytics-table {
    margin: auto;
    width: 720pt;
    mixheight: 480pt;
}

.analytics-table, tr{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16pt;
    border: 1px solid black;
    border-collapse: collapse;
    height: max-content;
}

.btn {
    font-family: sans-serif;
    font-size: 16pt;
    padding: 12px;
    background-color:royalblue;
    color: white;
    border-radius: 8px;
    border: none;
}

.btn:hover {
    background-color: blue;
    transition: 0.5s;
}

.btn-container {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    padding: 100pt;
    width: 512pt;
    text-align: center;
}

.btn-cell {

}
