.Logo {
    color: white;
    font-size: 32pt;
    font-family: 'Century Gothic';
    font-weight: bold;
    /* align-self: center; */

}
.Logo-area {
    background-color: #47abdb;
    height: 58px;
    text-align: center;
}
.App-search-bar {
    width: 12cm;
    height: 1cm;
}

.Header-links {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Header-container {
    background-color: white;
    display: grid;
    border-bottom: 1px solid #95d2ec;
    grid-template-columns: auto auto auto;
    /* column-gap: 10cm; */
}

.Header-container-left {
    margin-left: 5vw;
    display: flex;
}

.Header-container-right {
    display: inline-grid;
    text-align: right;
    right: 0px;
    position: absolute;
    grid-template-columns: auto auto auto;
    margin-right: 5vw;
}

.Button{
    color: #47abdb !important;
    margin: 1vw;
    height: 3.5vw;
    max-height: 3.5vw;
    width: 10vw; 
    margin-right: 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}