.browsebg{
    background-image: url('../../assets/icsmh.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.browsebg-container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-card-container{
    border: 1;
    border: #47abd8 solid;
    border-radius: 1em;
    background: white;
    padding: 1vh;
}

.document-card-container{
    border: 1;
    border: #47abd8 solid;
    border-radius: 1em;
    background: white;
    padding: 1vh;
}

.document-card-flex-column {
    /* background: rgb(124, 81, 81); */
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
}

.document-card-flex-row {
    /* background: #000; */
    padding:5vh 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.button-card-flex-column {
    /* background: rgb(150, 0, 0); */
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
}

.description-section{
    /* background-color: burlywood; */
    padding: 5vh 30vh;
}

.button-right{
    padding-top: 5vh;
    text-align: right;
}

.main-text-tags{
    font-size: 3vh;
    font-weight: bold;
}

.text-tags{
    font-size: 3vh;
}

.warning{
    font-size: 2vh;
    color: red;
}

.input-container, .textarea-container{
  width: 100%;
  border:none;
  border-bottom: 1px solid lightgray;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tags {
    list-style-type: none;
}

.tag{
    color: rgb(255, 255, 255);
    font-size: 3vh;
    background: #47ABD8;
    padding: 0.5vh 3vh;
    border-radius: 10em;
    margin: 2px;
    display: inline-block;
}

.tag-content{
    text-align: center;
}

.multi-select{
    border: none;
}

.click-text {
background: none;
border: none;
font-size: 3vh;
overflow: hidden;
text-decoration-line: underline;
}

.click-text:hover {
text-decoration-line: none;
color: #47abdb;
font-weight: bold;
}

.click-list {
display: inline;
margin: 0px;
padding-inline-start: 0;
}

.click-list :not( :last-child)::after {
content: ", ";
}

@media (max-width: 880px) {
    .flex-row {
        margin-bottom: 5vh;
    }

    .category-row {
        justify-content: space-between;
    }

    .card-container {
        width: auto;
        height: auto;
        align-self: center;
        margin-bottom: 2vh;
    }
}