.document-card-flex-column {
    background-color: #47abdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.document-card-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.thumbnail{
    width: 300px; 
    height: 500px;

}
.document-card-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
}

.tags {
    /* background: #fff; */
    padding: 5px;
    overflow: hidden;
}

.tag{
    /* color: #fff; */
    font-weight: bold;
    background: #3498db;
    float: left;
    padding: 5px 10px;
    border-radius: 10em;
    margin: 5px;
  
}

.tags-input {
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* background: #131516; */
    float: left;
    padding: 5px 10px;
    border-radius: 10em;
    margin: 5px;
}

@media (max-width: 880px) {
    .flex-row {
        margin-bottom: 5vh;
    }

    .category-row {
        justify-content: space-between;
    }

    .card-container {
        width: auto;
        height: auto;
        align-self: center;
        margin-bottom: 2vh;
    }
}