.document-card-flex-column {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.document-card-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-left: 12vw;
    padding-right: 12vw;
}

.document-card-container {
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding: 1em;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.5em;
}

.document-thumbnail {
    width:100%;
    align-self: center;
    box-sizing: border-box;
}

@media (max-width: 880px) {
    .flex-row {
        margin-bottom: 5vh;
    }

    .category-row {
        justify-content: space-between;
    }

    .card-container {
        width: auto;
        height: auto;
        align-self: center;
        margin-bottom: 2vh;
    }
}