.view-button {
    border-radius: 1em;
    background-color: white;
    color:  #47abdb;
    border: none;
    font-size: 1em;
    font-weight: bold;
    width: 5em;
    margin-bottom: 0.5em;
}

.view-button:hover {
    color: #95D2EC;
}

.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-left: 12vw;
    padding-right: 12vw;
}

.card-container {
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding: 1em;
    width: 30%;
    height: auto;
    box-sizing: border-box;
    background-color: #47abdb;
    border-radius: 0.5em;
}

.view-button:hover, .a:hover {
    transition: 0.1s;
    transform: scale(1.05);
    /* box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25); */
}

.edit-btn {
    width: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    background-color: lightblue;
    padding: 8pt;
    border-radius: 8px;
    justify-self: center;
    margin-top: 1.5em;
}

.edit-btn:hover {
    background-color: royalblue;
    transition: 0.5s;
}

.card-header {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 0.3em;
}

.article-title {
    font-size: 1em;
    color: white;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.img {
    width:100%;
    align-self: center;
    box-sizing: border-box;
}

@media (max-width: 880px) {
    .flex-row {
        margin-bottom: 5vh;
    }

    .category-row {
        justify-content: space-between;
    }

    .card-container {
        width: auto;
        height: auto;
        align-self: center;
        margin-bottom: 2vh;
    }
}