.card-container {
    transition: 0.3s;
    margin: 2%;
    margin-bottom: 5vw;
    padding: 1% 2% 2% 2%;
    width: 20%;
    box-sizing: border-box;
    background-color: #47abdb;
    border-radius: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-row {
    display: flex;
    justify-content: center;
}

.card-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    margin-bottom: 4%;
}

.placeholder-image {
    background-color: lightgrey;
    width:100%;
    height:25vh;
    align-self: center;
    box-sizing: border-box;
}

@media (max-width: 880px) {
    .card-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    .category-row {
        justify-content: space-between;
    }

    .card-container {
        width: 70%;
        align-self: center;
        margin-bottom: 2vh;
    }

    .card-header {
        font-size: 2vh;
    }
}