.view-button {
    border-radius: 1em;
    background-color: white;
    color:  #47abdb;
    border: none;
    font-size: 1em;
    font-weight: bold;
    width: 5em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.view-button:hover {
    color: #95D2EC;
}

.text {
    font-family: 'Open Sans', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 5em;
    padding-right: 5em;
}

.card-container {
    box-sizing: border-box;
    height: 32em;
    width: 28rem;
    background-color: #47abdb;
    border-radius: 0.5em;
    padding-bottom: 1em;
}

.view-button:hover, .a:hover {
    transition: 0.1s;
    transform: scale(1.05);
    /* box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25); */
}

.edit-btn {
    width: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    background-color: lightblue;
    padding: 8pt;
    border-radius: 8px;
    justify-self: center;
}

.edit-btn:hover {
    background-color: royalblue;
    transition: 0.5s;
}

.card-header {
    position: relative;
    top: 15.675rem;
    
    padding-left: 1em;
    padding-right: 1em;

    width: max-content;
    background-color: #2d8ebb;
    font-size: 1.75rem;
    color: white;
}

.article-title {
    font-size: 1.4rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.article-description {
    font-size: 1rem;
    color: white;
    text-align: justify;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-img {
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 18rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-top: -2.325rem;
}

.margin-v {
    margin-top: 3rem;
    margin-bottom: 3em;
}

.margin-bot-2 {
    margin-bottom: 2rem;
}

@media screen and (max-width: 800px){
    .article-description{
        -webkit-line-clamp: 1;
    }

    .flex-row{
        padding: 2em;
    }

    .view-button{
        margin-top: 1em;
        margin-bottom: 0;
    }
}