button:hover{
  cursor: pointer;
}

.search-bar{
  outline: none;
}

.Navbar {
  background-color: #47abd8;
  width: 100%;
  height: 120px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.Navbar .leftSide{
  width: 20%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: black; */
  justify-content: center;
  /* padding-left: 2vh; */
  display: flex;
}

.Navbar .leftSide img{
  width: 30vh;
  height: 5vh;
  padding: 20% 1%;
}

.Navbar .middleSide{
  width: 100%;
  height: 120px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.Navbar .middleSide .topSide{
  width: 100%;
  height: 60%;
  display: flex;
}

.Navbar .middleSide .bottomSide{
  width: 100%;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.Navbar .rightSide{
  display: flex;
  flex: 50%;
}

.Navbar .rightSide .useraccount {
  display: flex;
  flex: 100%;
  justify-content:flex-end;
  font-size: 20px;
  margin-top: auto;
  align-items: center;
  padding-bottom: 10px;
}

.Navbar .rightSide .useraccount .container{
  display: flex;
  align-items: center;
  text-indent: 4vh;
  text-transform: uppercase;
  font-size: 17px;
}

.middleSide .topSide input{
  width: 600px;
  height: 30px;
  border: none;
  position: absolute;
  top: 30px;
  left: 20px;
  border-radius: 15px;
  font-size: 20px;
  padding-left: 15px;
  color: black;
}

.middleSide .topSide button{
  width:10px;
  position: absolute;
  top: 33px;
  left: 590px;
  background-color: transparent;
  border-color: transparent;
}

.icon-input {
  position: relative;
}

.icon-input img {
  width:20px; 
}

.middleSide .bottomSide .links {
  margin-bottom: auto;
}

.middleSide .bottomSide .links .a{
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin-left: 20px;
}