
.navpagination{
   display: flex;
   flex-direction: row;
   margin: 0.5vh;
}

.usertable-container{
   display: flex;
   margin-bottom: 5vh;
   min-width: 50vw;
   justify-content: center;
   align-items: center;
   border: 1px solid #47abd8;
}

.iconbutton-view{
   max-width: 2.5em;
   max-height: 2.5em;
}

.searchbar{
   width: 100vh;
   height: 5vh;
   margin: 5vh 0vh;
   border: 1px #47abd8 solid;
   border-radius: 10px;
   outline: 0;
}

.manageusers-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.classification-fontstyle{
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   font-size: 1em;
   color: white;
}

.arrow-button{
   height: 30%;
   width: 30%;
   color: white;
}

.toolbar-position {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
}

.toolbar {
   display: flex;
   align-items: flex-end;
   color: #47abd8;
}

.toolbar-delete {
   background-color: transparent;
   border: none;
}