.a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.2em;
    font-size: 1em;
}

.a:hover, .svg:hover {
    color: #95D2EC;
    fill: #95D2EC;
}

.svg {
    fill: white;
    width: 1.5em;
    margin-top: 0.2vw;
    margin-right: 0.5vw;
}

hr.foothr {
    border: 1px solid white;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #47abdb;
    padding-top: 1em;
    padding-bottom: 3em;
}

.footer-row{
    display: inline-flex;
    margin-left: 10vw;
    margin-right: 10vw;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.category-row{
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.category-column{
    padding-right: 5%;
    width: 20vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    align-content: left;
    flex-grow: 1;
}

.category-title{
    margin-bottom: 0;
    font-size: 1.3em;
    text-align: left;
}

.placeholder-ilib-logo{
    font-size: 2.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: white;
    text-align: left;
    margin-left: 10vw;
    margin-bottom: 0.5vw;
    display: flex;
}

@media (max-width: 880px) {
    .footer-row{
        display: flex;
        flex-direction: column;
    }

    .category-row{
        display: flex;
        flex-direction: row;
    }

    .placeholder-ilib-logo {
        font-size: 1.5em;
    }

    .category-title {
        font-size: 1.2em;
    }
}