.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 30%;
    width: 60%;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: 0.5em;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1em;
}

#close-button {
    float: right;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

#close-button:hover {
    color: #47abdb;
}