.App {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
}

.results{
  flex: auto;
  background-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
}
