.App {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

/* SearchPage */
.main{
  display: flex;
}

.result-pane{
  /* flex: auto; */
  background-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
}
