.App {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
}


html, body {
    margin: 0;
    padding: 0;
    background-image: url("./components/images/physci.png");
}
