.result-container {
  width: 100%;
  padding: 1em 2em 1em 2em;
}

.result-header {
  display: flex;
  position: relative;
  min-height: 70px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.sub-header-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.search-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 10vw;
  max-width: 30vw;
  align-self: center;
}

.bottom-pg {
  position: unset;
  float: right;
}

.doc-book-card {
  display: grid;
  grid-template-columns: 25% 62% 13%;
  grid-template-rows: 55px auto;
  grid-template-areas:
  "doc-cover title title"
  "doc-cover doc-book-content doc-icons";
  width: 90%;
  height: 220px;
}

.doc-card {
  display: grid;
  grid-template-columns: 87% 13%;
  grid-template-rows: 55px auto;
  grid-template-areas:
  "title title"
  "doc-content doc-icons";
  width: 90%;
  height: 220px;
}

.doc-cover {
  grid-area: doc-cover;
  object-fit:cover;
}

.doc-title {
  grid-area: title;
  padding: 0.4em;
  flex-wrap: nowrap;
  font-weight: 600;
}

.doc-book-content {
  grid-area: doc-book-content;
  margin: 0em 1em;
}

.doc-content {
  grid-area: doc-content;
  margin: 0em 1em;
}

.doc-year-category {
  display: flex;
  color: #848484;
  margin-bottom: 0.5em;
}

.doc-year {
  padding-right: 1em;
}

.doc-other-details {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clickable-text {
  background: none;
  border: none;
  padding: 0em;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration-line: underline;
}

.clickable-text:hover {
  text-decoration-line: none;
  color: #47abdb;
  font-weight: bold;
}

.no-hover:hover {
  color: #000;
  font-weight: 300;
  cursor: default;
}

.clickable-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
}

.clickable-list :not( :last-child)::after {
  content: ", ";
  white-space: pre;
}

.tool-button{
  position: absolute;
  bottom: 0;
  left: 10em;
  border-radius: 1em;
  background-color: #47abdb;
  color:  rgb(0, 0, 0);
  border: none;
  font-size: 17px;
  width: 30vh;
  height: 5vh;
  margin-left: 2em;
  margin-top: 2vh;
  align-self: baseline;
}

.tool-button:hover{
  color: #95D2EC;
}

.mult-cancel {
  background-color: #C4C4C4;
}

.mult-cancel:hover {
  color: #7F7F7F;
}

.mult-del {
  left: 25em;
  background-color: #B04444;
  color: #FFF;
}

.hide-btn {
  display: none;
}

.mult-del:hover {
  color:thistle;
}

.MuiButtonBase-root.MuiIconButton-root.add-doc-button{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  background-color: #47ABD8;
  border: transparent;
  border-radius: 5vh;
  width:8vh; 
  height:8vh;
}

.MuiButtonBase-root.MuiIconButton-root.add-doc-button:hover{
  background-color: #95D2EC;
}