.doc-book-card {
  display: grid;
  grid-template-columns: 25% 62% 13%;
  grid-template-rows: 55px auto;
  grid-template-areas:
  "doc-cover title title"
  "doc-cover doc-book-content doc-icons";
  width: 95%;
  height: 220px;
}

.doc-card {
  display: grid;
  grid-template-columns: 87% 13%;
  grid-template-rows: 55px auto;
  grid-template-areas:
  "title title"
  "doc-content doc-icons";
  width: 95%;
  height: 220px;
}

.doc-cover {
  grid-area: doc-cover;
  object-fit:cover;
}

.doc-title {
  grid-area: title;
  padding: 0.8em;
  flex-wrap: nowrap;
  font-weight: 600;
}

.doc-book-content {
  grid-area: doc-book-content;
  margin: 0em 1em;
}

.doc-content {
  grid-area: doc-content;
  margin: 0em 1em;
}

.doc-year-category {
  display: flex;
  color: #848484;
  margin-bottom: 0.5em;
}

.doc-year {
  padding-right: 1em;
}

.doc-other-details {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clickable-text {
  background: none;
  border: none;
  padding: 0em;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration-line: underline;
}

.clickable-text:hover {
  text-decoration-line: none;
  color: #47abdb;
  font-weight: bold;
}

.no-hover:hover {
  color: #000;
  font-weight: 300;
  cursor: default;
}

.clickable-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
}

.clickable-list :not( :last-child)::after {
  content: ", ";
  white-space: pre;
}

.tool-button{
  border-radius: 1em;
  background-color: #47abdb;
  color:  rgb(0, 0, 0);
  border: none;
  font-size: 17px;
  width: 50vh;
  height: 5vh;
  margin-left: 2em;
  margin-top: 2vh;
}

.tool-button:hover{
  color: #95D2EC;
}

.sort-container{
  margin-bottom: 2vh;
}