.App-search-bar {
    font-size: 16pt;
    border:2px solid #47abd8;
    border-radius: 10px;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Search-type {
    padding: 1cm;
}

.Search-area {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    padding-top: 5cm;
    padding-bottom: 5cm;
    text-align: center;
}

.Search-container {
    width: 30%;
    justify-content: center;
    grid-template-columns: auto auto auto;
    display: inline-grid;
    padding: 1% 0%;
}

.Search-btn {
    font-family: sans-serif;
    font-size: 16pt;
    padding: 12px;
    background-color:#16a5e7;
    color: white;
    border: none;
    border-radius: 15px;
    width: fit-content;
}

.Search-btn:hover {
    cursor: pointer;
    transition-duration: .2s; 
}

.Check-label {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}