
.Search-type {
    padding: 1cm;
}

.Search-area {
    padding-top: 5cm;
    padding-bottom: 5cm;
    text-align: center;
}

.Search-container {    
    grid-template-columns: auto auto auto auto;
    display: inline-grid;
    padding-top: 10px;
    column-gap: 24px;
}

.Search-btn {
    font-family: sans-serif;
    font-size: 12pt;
    padding: 12px;
    background-color:royalblue;
    color: white;
    border: none;
    width: fit-content;
}

.Search-btn:hover {
    cursor: pointer;
    transition-duration: .2s; 
}

.Search-btn-container {
    padding-top: 1cm;
    grid-template-columns: auto auto;
    display: inline-grid;
    column-gap: 1cm;
}

.Radio-label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}